@{
    ViewBag.Title = "VŨ VĂN QUÂN";
}
<main aria-labelledby="title">
    <h2 id="title">Liên hệ với tôi</h2>
    <h3>Lập trình Ứng dụng .Net trong doanh nghiệp</h3>

    <address>
        Thạch Thất,Hà Nội<br />
        Việt Nam<br />
        <abbr title="Điện thoại">SĐT:</abbr>
        0964633609
    </address>

    <address>
        <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">vvquan.dhti15a15hn@sv.uneti.edu.vn</a><br />
        <strong>Liên hệ quảng cáo:</strong> <a href="mailto:Marketing@example.com">vvquan.dhti15a15hn@sv.uneti.edu.vn</a>
    </address>
</main>